@font-face {
    font-family: 'DINOT-regular';
    src: 
    	url('fonts/DINOT-Regular-1.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

.jspsych-content {
  max-width: 80%; 
}

.jspsych-display-element {
    font-family: 'DINOT-Regular';
    font-size: 25px;
    line-height: 1.6em;
}

.jspsych-btn {
    color: darkblue;
    border-color: darkblue;
}

.maze {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 32px;
}

.selfpaced {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 32px;
}

p#istr {
    color: darkblue;
}

p#istrR {
    color: red;
}

p#istrG {
    color: green;
}
